name: Update README.md

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]

    steps:
      - uses: actions/checkout@v2
      - name: Checkout branch
        run: git checkout "${GITHUB_REF:11}"
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install yan using npm
        run: |
          npm install yarn -g
      - name: Install packages and run update
        run: |
          yarn install
          yarn run prettier
          yarn run update
          yarn run prettier
        env:
          CI: true
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3.6.0
        with:
          commit-message: 'chore: update readme file table'
          title: Add updated readme file
